<div class="createPlaneWrapper">
    <p-panel header="Create a new plane">
        <div class="planeParamEntry">
            <p>Tail Number</p><input>
        </div>
        <div class="planeParamEntry">
            <p>Manufacturer</p><input>
        </div>
        <div class="planeParamEntry">
            <p>Model</p><input>
        </div>
        <div class="planeParamEntry">
            <p>Manufacture Year</p><input>
        </div>
        <div class="planeParamEntry">
            <p>Range</p><input>
        </div>
        <div class="planeParamEntry">
            <p>Wing Span</p><input>
        </div>
        <div class="planeParamEntry">
            <p>Length</p><input>
        </div>
        <div class="planeParamEntry">
            <p>Height</p><input>
        </div>
        <div class="planeParamEntry">
            <p>Company</p><input>
        </div>
        <button pButton label="Add plane" icon="pi pi-plus" class = "addPlaneBtn"></button>
    </p-panel>
</div>