<div class="pagination_container">
    <p>
        <i class="pi pi-user" style="font-size: 2.5rem"></i>
    </p>
    <h1>Users</h1>
    <p-button (click)="sidebarVisible = true" icon="pi pi-filter-fill" class="right_page_alignement"/>
</div>
<app-data-table [viewData]="user_list" [columns]="columns"></app-data-table>
<div class="flex align-items-center justify-content-end pagination_container">
        <span class="mx-1 text-color right_page_alignement">Items per page: </span>
        <p-dropdown [options]="options"/>
        <button class="round-button">>></button>
</div>

<div class="card flex justify-content-center">
    <p-sidebar [(visible)]="sidebarVisible" styleClass="w-30rem">
        <ng-template pTemplate="header">
            <span class="font-semibold text-xl">Filter options</span>
        </ng-template>
        <h2>Search</h2>
        
<div class="flex flex-column gap-2">
    <label for="fullName">User name</label>
    <input pInputText id="fullName"/>
    <label for="company"> Company </label>
    <input pInputText id="company"/>
    <label for="company"> User role </label>
    <p-multiSelect
    [options]="options" 
    optionLabel="name" 
    placeholder="Select Cities" />
</div>
    </p-sidebar>
</div>
