.planePageWrapper{
    padding:0 2%;
    display:flex;
    flex-direction: column;
    gap:20px;   
    height:100%;
}



.planePageWrapper h1{
    margin-bottom:0;
}

.planeTableWrapper{
    height:65%;
    overflow-y: auto;
}

.planeHeaderContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::ng-deep{
    .createPlaneBtn{
        background-color: #1AD95D;
        border-color: #1AD95D;
    }

    .createPlaneBtn:hover{
        background-color: #129862;
        border-color: #129862;
    }
}

.planesFooter{
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top:2%;
}

.round-button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 15px 15px; 
    transition: background-color 0.3s;
    margin:0 5px;
}

.round-button:hover {
    background-color: lightgray;
}