<div>
  <div *ngFor="let vrule of getValidationRules()"  style="display:flex; align-items: center; flex-direction:row;">
    <p>
      {{getRuleValue(vrule)}}
    </p>
    <button pButton (click)="removeRule(vrule)" class="removeRuleButton" icon="pi pi-times"></button>
  </div>
  <p *ngIf="alreadyExsitentRule">There is aleady a similiar rule for the attribute</p>
<ng-container [ngSwitch]="rule.inputType">
    <div *ngSwitchCase="'text'" class="validation-op">
        <label [for]="rule.name + 'input'">Text reference :</label>
        <br>
        <p *ngIf="text_err_msg">*Empty text reference</p>
        <div class="widget-content">
        <input class="validation-input" (input)="changeToText()" [(ngModel)]="textReference" [autocomplete]="'off'" [id]="rule.name + 'input'" type="text"/>
        <div class="dropdown">
            <button pButton class="dropbtn">
                <p *ngIf="selectedAttribute != undefined; else buttonIconTemplate">{{selectedAttribute.label}}</p>
                <ng-template #buttonIconTemplate>
                  <p *ngIf="finalSelectedAttribute; else btnTemplate">{{finalSelectedAttribute}}</p>
                  <ng-template #btnTemplate>
                    <i class="pi pi-book"></i>
                  </ng-template>
                </ng-template>
            </button>
            <div class="dropdown-content">
              <p (click)="selectAttribute(attribute)" *ngFor="let attribute of filteredAttributes">{{attribute.label}}</p>
            </div>
          </div>
          <p-button (onClick)="addRule()" class="add_validation" icon="pi pi-check" />
        </div>
    </div>
    <div *ngSwitchCase="'array'" class="validation-op">
        <label>Possible values</label>
        <p *ngIf="array_err_msg">*Empty values references</p>
        <div class="widget-content">
            <p-tag [rounded]="true" *ngFor="let tag of possibleValues[rule.name]">
                {{tag}}
                <button (click)="removePossibleValue(tag)" class="rmv_tag_btn">x</button>
            </p-tag>
        </div>
        <div class="widget-content">
        <input class="validation-input" [(ngModel)]="arrayTextReference" (keydown.enter)="onInputEnter($event,rule)">
        <div class="dropdown">
            <button class="dropbtn">
                <p *ngIf="selectedAttribute != undefined; else buttonIconTemplate">{{selectedAttribute.label}}</p>
                <ng-template #buttonIconTemplate>
                  <p *ngIf="finalSelectedAttribute; else btnTemplate">{{finalSelectedAttribute}}</p>
                  <ng-template #btnTemplate>
                    <i class="pi pi-book"></i>
                  </ng-template>
                </ng-template>
            </button>
            <div class="dropdown-content">
              <p (click)="selectAttribute(attribute)" *ngFor="let attribute of filteredAttributes">{{attribute.label}}</p>
            </div>
          </div>
          <p-button (onClick)="addRule()" class="add_validation" icon="pi pi-check" />
        </div>
    </div>
    <div *ngSwitchCase="'number'" class="validation-op">
        <label [for]="rule.name + 'input'">Number reference :</label>
        <br>
        <p *ngIf="number_err_msg">*Empty number reference</p>
        <div class="widget-content">
            <p-inputNumber 
            [(ngModel)]="numberReference"
            (onInput)="changeToText()"
            inputId="rule.name + 'input'"
            /> 
            <div class="dropdown">
                <p-button class="dropbtn">
                  <p *ngIf="selectedAttribute != undefined; else buttonIconTemplate">{{selectedAttribute.label}}</p>
                  <ng-template #buttonIconTemplate>
                    <p *ngIf="finalSelectedAttribute; else btnTemplate">{{finalSelectedAttribute}}</p>
                    <ng-template #btnTemplate>
                      <i class="pi pi-book"></i>
                    </ng-template>
                  </ng-template>
                </p-button>
                <div class="dropdown-content">
                  <p (click)="selectAttribute(attribute)" *ngFor="let attribute of filteredAttributes">{{attribute.label}}</p>
                </div>
              </div>
              <p-button (onClick)="addRule()" class="add_validation" icon="pi pi-check" />
        </div>
    </div>
    <div *ngSwitchCase="'precision_number'" class="validation-op">
        <label [for]="rule.name + 'input'">Number reference :</label>
        <br>
        <p *ngIf="number_err_msg">*Empty number reference</p>
        <div class="widget-content">
            <p-inputNumber 
            [(ngModel)]="numberReference"
            (onInput)="changeToText()"
            inputId="rule.name + 'input'"
            mode="decimal" 
            [minFractionDigits]="2" 
            [maxFractionDigits]="5" /> 
            <div class="dropdown">
                <button pButton class="dropbtn">
                  <p *ngIf="selectedAttribute != undefined; else buttonIconTemplate">{{selectedAttribute.label}}</p>
                  <ng-template #buttonIconTemplate>
                    <p *ngIf="finalSelectedAttribute; else btnTemplate">{{finalSelectedAttribute}}</p>
                    <ng-template #btnTemplate>
                      <i class="pi pi-book"></i>
                    </ng-template>
                  </ng-template>
                </button>
                <div class="dropdown-content">
                  <p (click)="selectAttribute(attribute)" *ngFor="let attribute of filteredAttributes">{{attribute.label}}</p>
                </div>
              </div>
              <p-button (onClick)="addRule()" class="add_validation" icon="pi pi-check" />
        </div>
    </div>
    <div *ngSwitchCase="'date'" class="validation-op">
        <label [for]="rule.name + 'input'">Date reference:</label>
        <br>
        <div *ngIf="date_err_msg">
            <p *ngIf="time_err_msg">*Empty time reference</p>
            <p *ngIf="dt_err_msg">*Empty date reference</p>
        </div>
        <div class="widget-content">
            <div style="display:flex;gap:40px;">
            <p-calendar 
            [(ngModel)]="dateReference"
            (onSelect)="changeToText()"
            [showIcon]="true" 
            [showOnFocus]="false" 
            inputId="rule.name + 'date_input'"
            appendTo="body"
            />
            <p-calendar 
            [(ngModel)]="timeReference"
            (onSelect)="changeToText()"
            [showIcon]="true" 
            [timeOnly]="true" 
            inputId="rule.name + 'time_input'"
            appendTo="body"
            >
            <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                <i class="pi pi-user pointer-events-none" (click)="clickCallBack($event)"></i>
            </ng-template>
            </p-calendar>
        </div>
        </div>
        <div class="dropdown">
          <button pButton class="dropbtn">
            <p *ngIf="selectedAttribute != undefined; else buttonIconTemplate">{{selectedAttribute.label}}</p>
            <ng-template #buttonIconTemplate>
              <p *ngIf="finalSelectedAttribute; else btnTemplate">{{finalSelectedAttribute}}</p>
              <ng-template #btnTemplate>
                <i class="pi pi-book"></i>
              </ng-template>
            </ng-template>
          </button>
          <div class="dropdown-content">
            <p (click)="selectAttribute(attribute)" *ngFor="let attribute of filteredAttributes">{{attribute.label}}</p>
          </div>
        </div>
        <p-button (onClick)="addRule()" class="add_validation">
          <i class ="pi pi-check"></i>
        </p-button>
    </div>
    <div *ngSwitchCase="'interval'" class="validation-op">
        <label [for]="rule.name + 'input'">Start Date:</label>
        <br>
        <div *ngIf="start_date_err_msg">
            <p *ngIf="start_time_err_msg">*Empty start time reference</p>
            <p *ngIf="start_dt_err_msg">*Empty start date reference</p>
        </div>
        <div class="widget-content" style="margin-bottom: 20px;">
            <diV style="display:flex;gap:40px;">
            <p-calendar 
            [(ngModel)]="startDateReference"
            (onSelect)="changeToText('start')"
            [showIcon]="true" 
            [showOnFocus]="false" 
            inputId="rule.name + 'date_input'"
            />
            <p-calendar 
            [(ngModel)]="startTimeReference"
            (onSelect)="changeToText('start')"
            [showIcon]="true" 
            [timeOnly]="true" 
            inputId="rule.name + 'time_input'"
            >
            <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                <i class="pi pi-user pointer-events-none" (click)="clickCallBack($event)"></i>
            </ng-template>
            </p-calendar>
        </diV>
            <div class="dropdown">
                <button class="dropbtn">
                <p *ngIf="startSelectedAttribute !== undefined; else startButtonIconTemplate">{{startSelectedAttribute.label}}</p>
                <ng-template #startButtonIconTemplate>
                  <p *ngIf="finalStartSelectedAttribute; else btnTemplate">{{finalStartSelectedAttribute}}</p>
                  <ng-template #btnTemplate>
                    <i class="pi pi-book"></i>
                  </ng-template>
                </ng-template>
                </button>
                <div class="dropdown-content">
                  <p (click)="selectStartAttribute(attribute,'start')" *ngFor="let attribute of filteredAttributes">{{attribute.label}}</p>
                </div>
              </div>
            </div>
              <label [for]="rule.name + 'input'">End Date:</label>
        <br>
        <div *ngIf="end_date_err_msg">
            <p *ngIf="end_time_err_msg">*Empty time reference</p>
            <p *ngIf="end_dt_err_msg">*Empty date reference</p>
        </div>
        <div class="widget-content">
            <diV style = "display:flex;gap:40px;">
            <p-calendar 
            [(ngModel)]="endDateReference"
            (onSelect)="changeToText('end')"
            [showIcon]="true" 
            [showOnFocus]="false" 
            inputId="rule.name + 'date_input'"
            />
            <p-calendar 
            [(ngModel)]="endTimeReference"
            (onSelect)="changeToText('end')"
            [showIcon]="true" 
            [timeOnly]="true" 
            inputId="rule.name + 'time_input'"
            >
            <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                <i class="pi pi-user pointer-events-none" (click)="clickCallBack($event)"></i>
            </ng-template>
            </p-calendar>
        </diV>
            <div class="dropdown">
                <button class="dropbtn">
                    <p *ngIf="endSelectedAttribute !== undefined; else endButtonIconTemplate">{{endSelectedAttribute.label}}</p>
                <ng-template #endButtonIconTemplate>
                  <p *ngIf="finalEndSelctedAttribute; else btnTemplate">{{finalEndSelctedAttribute}}</p>
                  <ng-template #btnTemplate>
                    <i class="pi pi-book"></i>
                  </ng-template>
                </ng-template>
                </button>
                <div class="dropdown-content">
                  <p (click)="selectEndAttribute(attribute,'end')" *ngFor="let attribute of filteredAttributes">{{attribute.label}}</p>
                </div>
              </div>
              </div>
              <p-button (onClick)="addRule()" class="add_validation" icon="pi pi-check" />
        </div>
        <div *ngSwitchCase="'attribute'" class="validation-op">
          <label [for]="rule.name + 'input'">Attribute refrenece :</label>
          <br>
          <div class="widget-content">
            <app-attribute-panel-default [slectedType]="attrType" [attributTypes]="attributeTypes" (defaultValue)="reciveValue($event)"></app-attribute-panel-default>
              <div class="dropdown">
                  <button class="dropbtn">
                    <p *ngIf="selectedAttribute != undefined; else buttonIconTemplate">{{selectedAttribute.label}}</p>
                    <ng-template #buttonIconTemplate>
                      <p *ngIf="finalSelectedAttribute; else btnTemplate">{{finalSelectedAttribute}}</p>
                      <ng-template #btnTemplate>
                        <i class="pi pi-book"></i>
                      </ng-template>
                    </ng-template>
                  </button>
                  <div class="dropdown-content">
                    <p (click)="selectAttribute(attribute)" *ngFor="let attribute of filteredAttributes">{{attribute.label}}</p>
                  </div>
                </div>
                <p-button (onClick)="addRule()" class="add_validation" icon="pi pi-check" />
          </div>
      </div>
</ng-container>
<div *ngIf="selectedObject">
  <button pButton (click)="selectAttr(attribute)" *ngFor="let attribute of selectedObjectKeys()">
    {{attribute}}:{{selectedObjecValueType(attribute)}}
  </button>
</div>
<div *ngIf="endSelctedObject">
  <p>End:</p>
  <button (click)="selectAttr(attribute,'end')" *ngFor="let attribute of selectedObjectKeys('end')">
    {{attribute}}:{{selectedObjecValueType(attribute,"end")}}
  </button>
</div>
<div *ngIf="startSelectedObject">
  <p>Start:</p>
  <button (click)="selectAttr(attribute,'start')" *ngFor="let attribute of selectedObjectKeys('start')">
    {{attribute}}:{{selectedObjecValueType(attribute,"start")}}
  </button>
</div>
<p *ngIf="emptySelectedObject">The object doesn't have any {{this.rule.inputType}} attributes</p>
<p *ngIf="inv_array_err">Invalid array type</p>
</div>