.export_wrapper{
    width:26vw;
    display:flex;
    gap:25px;
    flex-direction: column;
}

::ng-deep{
    .p-dropdown{
        width:50%;
    }

    .rangedInputs.p-inputtext{
        width:95%;
    }
}