.companyPageWrapper{
    padding:4%;
    padding-top:2%;
    overflow-y: auto;
    height: 90vh;
}

.companyPageWrapper h1{
    margin:0;
}

 
.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left:50px;
  }
  
  .card-rows {
    margin: 10px;
    width: 22%;
  }

.attr-rep{
    font-size: 12px;
}

.w-full{
    margin: 25px;
}

.card{
    height: 100%;
}

.companyPageHeader{
    position: relative;
    margin-bottom: 2%;
}
.companyPageHeader .createCompanyButton{
    align-self: right;
    position:absolute;
    right:0;
    top:-20%;
}

.createCompanyDialogWrapper{
    display:flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}

.createCompanyInput{
    width:100%;
}

.createCompanyInput input{
    width:70%;
    height:30px;
}
 
.createCompanyInput p{
    width: 30%;
    margin:0;
    display: inline-block;
}


::ng-deep{
    .deleteCompanyBtn{
        background-color: red;
        border-color: rgb(255, 0, 0);
        width: 100%;
    }
    .deleteCompanyBtn:hover{
        background-color: #d70000;
        border-color: #d70000;
    }
}

.ackDiv{
    display: flex;
    gap:10px;
    align-items: center;
    justify-items: flex-start;
}

.ackDiv p{
    color:#ff5757;
    font-style: italic;
    font-size:13px;
}