<div class="companyPageWrapper">
    <div class="companyPageHeader">
        <h1>Company list</h1>
        <button pButton label="Create a new company" class="createCompanyButton green" (click)="initNewCompany()" icon="pi pi-plus"></button>
    </div>
    <div class="grid">
        <div class="card-rows" *ngFor="let company of data">
            <p-card class="card" header={{company.name}}>
                Fleet: {{company.fleet}}<br>
                Crew members: {{company.crews}}
                <div *ngIf="company.contactData">
                    <div *ngFor="let pair of company.contactData">
                        {{pair.key}}: {{pair.value}}<br>
                    </div>
                </div>
                <ng-template pTemplate="footer">
                    <div>
                        <button pButton label="Delete" (click)="deleteCompany(company)" icon="pi pi-exclamation-triangle" class="red deleteCompanyBtn"></button>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
    <p-dialog [(visible)]="addCompanyDialog" [modal]="true" [draggable]="false" header="Create a new company">
        <div class="createCompanyDialogWrapper">
            <div class="createCompanyInput">
                <p>Name:</p> <input pInputText [(ngModel)]="newCompanyName" (change)="refreshSaveState()">
            </div>
            <div class="createCompanyInput">
                <p>Email:</p> <input pInputText [(ngModel)]="newCompanyEmail" (change)="refreshSaveState()">
            </div>
            <p-button label="Create" (click)="createNewCompany()" [disabled]="!saveEnabled" icon="pi pi-plus"></p-button>
            
        </div>
    </p-dialog>
    <p-dialog [(visible)]="deleteCompanyDialog" [modal]="true" [draggable]="false" header="Warning" [style]="{'width':'28%'}">
        <p>Are you sure you want to delete the company {{selectedCompany.name}}?</p>
        <div class = "ackDiv">
            <p-checkbox
            [(ngModel)]="acknowledgment"
            [binary]="true"
            inputId="binary"/><p>I acknowledge that this action is irreversible and take responsability for any damages that should occour after any mistaken deletion of the aforementioned company</p>
        </div>
        <button pButton label="Delete" icon="pi pi-exclamation-triangle" (click)="deleteCompany1()" class="red deleteCompanyBtn" [disabled]="!acknowledgment"></button>
    </p-dialog>
</div>
