<div class="card" id="table-card">
    <p-table [value]="viewData" id="data-table" selectionMode="single"  [(selection)]="selectedData" (onRowSelect)="onRowSelected($event)">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of columns">
                {{col}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr [pSelectableRow]="data">
            <td *ngFor="let col of columns">
                {{getFieldValue(data,col)}}
            </td>
        </tr>
    </ng-template>
    </p-table>
</div>
