<div class="widget-content">
    <input type="text" pInputText [(ngModel)]="value" class="template-title" />
    <p-button label="Success" [raised]="true"/>
</div>
<div class="widget-content template-container">
    <div id="attributes-widget">
        <div id="widget-header">
            <p id="widget-label">Attributes</p>
            <div class="image-filed">
                <i class="pi pi-search search-button"></i>
                <input
                [(ngModel)]="searchText"
                (keydown)="serchAttribute($event)"
                type="text" 
                pInputText 
                class="search-input"
                variant="filled" />
            </div>
        </div>
        <div class="widget-content">
            <div class="attributes-list">
                <button (click)="newAttribute()" class="new-button">New</button>
                <ul class="list-none flex flex-column gap-2 p-0 m-0">
                    <li *ngFor="let attribute of attributeList" class="p-2 border-round shadow-1" pDraggable
                        (onDragStart)="dragStart(attribute)" (onDragEnd)="dragEnd()">
                        <div class="collapsible">
                            <p>{{attribute.label}}</p><button (click)="toggle($event)"class="collapsible-button">+</button>
                        </div>
                        <div class="collapsible-content">
                            <p>{{attribute.description}}</p>
                            <p-button (onClick)="selectAttribute(attribute,true)" class="edit_attr_btn" *ngIf="attribute.editable" icon="pi pi-pencil"/>
                            <p-button (onClick)="deleteAttribute(attribute)" class="edit_attr_btn" *ngIf="attribute.editable">Delete Attribute</p-button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="slected-zone flex-column" pDroppable (onDrop)="drop()">
                <div class="select-label" *ngIf="selectedAttributes.length===0">
                    <i class="pi pi-upload upload-icon"></i>
                    <p>Drag&Drop attributes here</p>
                </div>
                <ul class="list-none flex flex-column gap-2 p-0 m-0" *ngIf="selectedAttributes.length>0">
                    <li *ngFor="let attribute of selectedAttributes" class="p-2 border-round shadow-1">
                       <div (click)="selectAttribute(attribute, false)">
                        <div class="collapsible">
                            <p>{{attribute.label}}</p>
                            <button (click)="toggle($event)" class="collapsible-button">+</button>
                            <button (click)="unselectAttribute(attribute)" class="unselect_button">X</button>
                        </div>
                        <div class="collapsible-content">
                            <p>{{attribute.description}}</p>
                        </div>
                       </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="functinal-widget">
        <app-attribute-panel  (attributeChanges)="attributeChanges($event)" [operation]="operation" *ngIf="createAttribute === true" [name]="selectedAttribute?.label" [type]="selectedAttribute?.type" [description]="selectedAttribute?.description" [defaultValue]="this.selectedAttribute?.defaultValue" [isRequired]="this.selectedAttribute?.required" [isGlobal]="this.selectedAttribute?.globalVisibility" [selectedAttribute]="selectedAttribute"></app-attribute-panel>
        <app-validation-panel (changeAlreadyExistent)="changeExistent()" [alreadExistentRule]="alreadExistentRule" (rmvRule)="removeRule($event)" (addRule)="addValidationRule($event)" [attributesValidations]="validationRules" *ngIf="selectedAttribute && createAttribute === false" [selectedAttribute]="selectedAttribute" [selectedAttributes]="selectedAttributes"></app-validation-panel>
    </div>
</div>