.template-title{
    font-size: 30px;
    width: 95%;
    padding: 2px;
    margin: 5px 3%;
    border-color: transparent;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}

.edit_attr_btn{
 height: 5%;
}

.widget-content p-button{
    margin-right: 2%;
}

#attributes-widget{
    width: 50%;
    background-color: white;
    height: 75%;
    margin-left: 20px;
    height: 70%;
    padding: 5px;
    border-radius: 10px;
}


.selected-attributes{
    background-color: blueviolet;
}

.widget-content{
    display: flex;
    flex-direction: row;
    margin-top:1%;
}

.collapsible {
    background-color: #f5f9ff;
    color: black;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: transparent;
    display: flex;
    outline: none;
    font-weight: 450;
  }

  .validation-input{
    background-color: transparent;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    padding: 3px;
    border-width: 1px;
  }

  .validation-rule{
     margin: 10px;
  }

  .validation-op{
    padding: 10px;
  }

  .collapsible-button{
    margin-left: auto;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-right: 15px;
    font-size: 14px;
    height: 40px;
    width: 15%;
    border-color: transparent;
    border-style: solid;
    border-radius: 3px;
    background-color: transparent;
    display: block;
  }
  
.active, .collapsible-button:hover, .search-button:hover{
    background-color: #62bcd5;
    border-color: transparent;
}
  
.collapsible-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f9ff;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: dimgray;
  }

.collapsible-button-container{
    display:flex;
    gap:5px;
    align-self: flex-end;
    margin-bottom:10px;
}


ul {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    scroll-behavior: smooth;
}

li{
    margin-top: 10px;
}


*:focus {
    outline: none;
}

.new-button{
    margin-top: 10px;
    margin-left: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: transparent;
    width: calc(100% - 10px);
    height: 40px;
    font-size: 15px;
    font-weight:lighter;
    color: white;
    background-color: #62bcd5;
}

.active, .new-button.new-button:hover, .add-btn-valid:hover, .unselect_button:hover {
    background-color: #295bac;
}

.attributes-list-wrapper{
    width:50%;
    padding-top: 0px !important;
    margin-right: 10px;
    height: 60vh;
}

.attribute-list{
    overflow-y: auto;
    height:85%;
    margin-top:10px;
}

#widget-header{
    display: flex;
    flex-direction: row;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-style:solid;
    border-color:dimgray;
    background-color: transparent;
}

.slected-zone{
    margin-top:10px;
    width: 100%;
    height:100%;
}


#widget-label{
    font-size: 18px;
    background-color: transparent;
    font-weight: bold;
}
.image-filed{
    background-color: transparent;
    margin-right: 8px;
    margin-left: auto;
    margin-bottom: 6px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: dimgray;
}

.search-input{
    background-color: transparent;
    font-size: 15px;
    border-color: transparent;
    height: 100%;
}

.active, .search-input:focus{
    border-color: transparent;
}

.search-button{
    margin:6px
}

.functinal-widget{
    width: 50%;
    margin: 20px;
    border-left-color: dimgray;
    border-left-width: 1px;
    border-left-style: solid;
}

.add-btn-valid{
    background-color: #62bcd5;
    border-color: transparent;
    border-radius: 3px;
    margin: 7px;
    font-size: 25px;
    width: 20%;
}


.validation-header{
    font-size: 17px;
    font-weight: 550;
    width: 88%;
    margin-left: 5%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.template-container{
    height: 75%;
}

.unselect_button{
    border-radius: 5px;
    border-color: transparent;
    background-color: transparent;
}

.select-label{
    border-radius: 10px;
    border-style: dashed;
    border-width: 2.5px;
    border-color: dimgray;
    padding: 30%;
    font-weight: bold;
    color: dimgray;
    text-align: center;
}

.upload-icon{
    font-size: large;
}