<div class="addAirportDialogBody">
    <div class="dialogEntry">
        <div class="airportCode">
            <p>ICAO:</p>
            <input [(ngModel)]="icao" (ngModelChange)="refreshSubmitState()">
        </div>
        <div class="airportCode">
            <p>IATA:</p>
            <input [(ngModel)]="iata" (ngModelChange)="refreshSubmitState()">
        </div>
    </div>
    <div class="dialogEntry">
        <p>Name:</p>
        <input [(ngModel)]="name" (ngModelChange)="refreshSubmitState()">
    </div>
    <div class="dialogEntry">
        <p>Location:</p>
        <input [(ngModel)]="location" (ngModelChange)="refreshSubmitState()">
    </div>
    <div class="dialogEntry">
        <p>Email:</p>
        <input [(ngModel)]="email" (ngModelChange)="refreshSubmitState()">
    </div>
    <div *ngFor="let item of oldAirport.contactData | keyvalue">
        <div class="dialogEntry" *ngIf="item.key != 'email'">
            <p>{{item.key[0].toLocaleUpperCase() + item.key.slice(1)}}:</p>
            <div class = "contactValueBtnCombo">
                <input [(ngModel)]="item.value" (ngModelChange)="refreshSubmitState()" class = "contactKey">
                <div *ngIf="item.key != 'email'">
                    <button pButton  icon="pi pi-trash" class = "deleteButt" (click)="deleteContactData(item.key)"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="dialogEntry"*ngIf="mode == 'edit' && addContactMode">
        <input [(ngModel)]="newKey" (ngModelChange)="refreshSubmitState()" class = "newKey">
        <div class="contactValueBtnCombo">
            <input [(ngModel)]="newValue" (ngModelChange)="refreshSubmitState()" class = "contactKey">
            <button pButton  icon="pi pi-check" class = "acceptButt"></button>
        </div>
    </div>
    <div class="dialogEntry" style="margin-bottom: 10px !important;">
        <p-button [style]="{'align-self':'center', 'justify-self':'center'}" [disabled]="!submitEnabled" (onClick)="submit()" *ngIf="mode == 'save'">Add Airport</p-button>
        <p-button [style]="{'align-self':'center', 'justify-self':'center'}" [disabled]="!submitEnabled" (onClick)="submit()" *ngIf="mode == 'edit'">Edit Airport</p-button>
        
        <div *ngIf="mode == 'edit'" class="addContactModeCombo">
            <p>Add contact mode</p>
            <p-inputSwitch [(ngModel)]="addContactMode"></p-inputSwitch>
        </div>
    </div>
</div>