.date_attr{
    display: flex;
    flex-direction: column;
}

.date_inp{
    margin-bottom: 10px;
}

.txt-input{
    height: 40px;
    border-radius: 5px;
    border-color: dimgray;
    border-width: 1px;
    font-size: 16px;
    color: dimgray;
    padding: 15px;
    width: 34%;
    margin-right: 3%;
}

.obj-panel{
border-radius: 5px;
background-color: aliceblue;
padding: 0.5%;
background-color: transparent;
}

.obj-add-btn{
    margin-left: 95%;
    padding: 5px;
    font-size: 26px;
    border-radius: 100px;
    background-color: transparent;
    border-color: transparent;
}

.obj-add-btn:hover{
    background-color: darkcyan;
}

.element{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.obj-drop{
    height: 20px;
}

.array_label{
    margin-right: 1%;
}

.err_msg{
    color: red;
    font-weight: 200;
    font-style: oblique;
    margin: 1px;
    width: 90%;
}

.obj_form{
    margin-bottom: 5px;
}

.obj_bord{
    border-color: dimgray;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
}

.divider{
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: dimgray;
}

.divider_left{
    width: 4%;
}

.divider_right{
 width: 100%;
}

.divider-text{
 color: dimgray;
 font-size: 12px;
 padding-left: 5px;
 padding-right: 5px;
}

.add_btn{
    margin-left: 75%;
    margin-right: 2%;
}

.btn{
background-color: transparent;
height: 8px ;
}