<div >
    <p class="validation-header" *ngIf="selectedAttribute">{{getAttribute("label")}}:{{getAttribute("type")}}</p>
    <div class="validation-section">
        <ng-container [ngSwitch]="attributeTypePanel()">
            <div *ngSwitchCase="'predefined_object'" class="btn-container">
            <button pButton (click)="chnage_selcted(attribute)" class="attribute-btn" *ngFor="let attribute of getObjectAttributes()" class="object_attribute"[label]="attribute.label"></button>
            </div>
            <div *ngSwitchCase="'object'" class="btn-container">
                <button pButton (click)="chnage_selcted(attribute)" class="attribute-btn" *ngFor="let attribute of getObjectAttributes()" class="object_attribute" [label]="attribute"></button>
                </div>
            <div *ngSwitchCase="'base_attribute'" class="validation-op">
            <div *ngFor=" let rule of getValidations()" class="validation-rule">
                <div class="collapsible">
                    <p>{{rule.label}}</p><button (click)="toggle($event)"
                        class="collapsible-button">+</button>
                </div>
                <app-validation-rule [attributeName]="this.selectedAttribute?.name" (changeAlreadyExistent)="changeExistent()" [alreadyExsitentRule]="alreadExistentRule" (rmvRule)="removeRule($event)" [attrType]="sendType()" [attributeValidations]="attributesValidations" (addValidationRule)="addValidationRule($event)" class="collapsible-content" [templateSelectedAttribute]="getAttribute('name')" [rule]="rule"[selectedAttributes]="selectedAttributes" attributeType="selectAttribute.type"></app-validation-rule>
            </div>
            </div>
            <div *ngSwitchCase="'error'" class="flex-column">
               <p>Unknown attribute</p>
            </div>
        </ng-container>
    </div>
</div>
