<h1>Flight Manager</h1>
<a routerLink="/home/users" routerLinkActive="active">Users</a>
<a routerLink="/home/flights" routerLinkActive="active">Flights</a>
<a routerLink="/home/planes" routerLinkActive="active">Planes</a>
<a routerLink="/home/airports" routerLinkActive="active">Airports</a>
<a routerLink="/home/itineraries" routerLinkActive="active">Itineraries</a>
<a routerLink="/home/employees" routerLinkActive="active">Employees</a>
<a routerLink="/home/companies" routerLinkActive="active">Companies</a>
<router-outlet></router-outlet>