<h1>Flight Manager</h1>
<a routerLink="/users" routerLinkActive="active">Users</a>
<a routerLink="/flights" routerLinkActive="active">Flights</a>
<a routerLink="/planes" routerLinkActive="active">Planes</a>
<a routerLink="/airports" routerLinkActive="active">Airports</a>
<a routerLink="/itineraries" routerLinkActive="active">Itineraries</a>
<a routerLink="/employees" routerLinkActive="active">Employees</a>
<a routerLink="/companies" routerLinkActive="active">Companies</a>
<router-outlet></router-outlet>