.flightTemplateWrapper {
    padding: 5px;
    display: inline-block;
     width: 100vw;
     height: 65vh;
     overflow-y: auto;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-left:50px;
  }
  
  .card-rows {
    margin: 10px;
    height: 22pc;
    width: 23%;
  }

.attr-rep{
    font-size: 12px;
}

.view-button{
    width: 5%;
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 24px;
    align-items: center;
    color: darkblue;
}

.btn-left{
    margin-left: 2%;
}

.btn-right{
    margin-right: 2%;
}

.view-button:hover{
    background-color:whitesmoke;
}

.w-full{
    margin: 25px;
}

.card{
    height: 100%;
    width: 100%;
}

.required-indicator{
    color: red;
}

.round-button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 15px 15px; 
    transition: background-color 0.3s;
    margin:0 5px;
}
.round-button:hover {
    background-color: lightgray;
}

.pagination_container{
    display: flex;
    padding:0 3%;
    margin-top:20px;
}

.right_page_alignement{
    margin-left: auto;
    padding: 10px;
}

.templateFooter{
    display: inline-block !important;
}

.wrapperHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 5%;
}