.flightTemplateWrapper {
    padding: 5px;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-left:50px;
  }
  
  .card-rows {
    margin: 10px;
    height: 22pc;
    width: 22%;
  }

.attr-rep{
    font-size: 12px;
}

.w-full{
    margin: 25px;
}

.card{
    height: 100%;
}

.required-indicator{
    color: red;
}

.round-button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 15px 15px; 
    transition: background-color 0.3s;
    margin:0 5px;
}
.round-button:hover {
    background-color: lightgray;
}

.pagination_container{
    display: flex;
    padding:0 3%;
    margin-top:20px;
}

.right_page_alignement{
    margin-left: auto;
    padding: 10px;
}