.company-export-wrapper{
    display:flex;
    flex-direction: column;
    gap:10px;
}

.input{
    
    display:flex;
    gap:10px;
    margin-top:25px;
}

::ng-deep{
    .input .p-inputtext{
        width:95%;
    }
}

.small-text{
    color:gray;
    font-style: italic;
    font-size:13px;
}