<body>
    <div class="loginBox">
        <img src="../../../../assets/images/logo.png" alt="logo" class="logoImage">
        <div class="loginForm">
            <div class="formInput" style="margin-top:0">
                <label for="userID">User ID</label><br>
                <input type="text" id="userID" name="userID"><br>
            </div>
            <div class="formInput">
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password">
            </div>
            <div class="formInput formButton">
                <input type="button" value="Login">
            </div>
        </div>
    </div>
</body>