<div class="user-export-wrapper">
    <p-floatLabel>
        <p-dropdown
        [options]="companyList"
        [(ngModel)]="selectedCompany"
        (ngModelChange)="changeSelection()"
        optionLabel="name"
        appendTo="body"/>
        <label>Company</label>
    </p-floatLabel>
    <p-floatLabel>
        <p-multiSelect
        [options]="roleList"
        [(ngModel)]="selectedRole"
        (ngModelChange)="changeSelection()"
        appendTo="body"/>
        <label>Role</label>
    </p-floatLabel>
</div>