<div class="employee_wrapper">
    <div class = "employee_header">
        <h1>Employees</h1>
        <p-floatLabel>
            <input pInputText [(ngModel)]="filterOptions.fullName" (ngModelChange)="refreshTable()">
            <label>Search by name</label>
        </p-floatLabel>
    </div>
    <app-data-table [keys]="keys" [headers]="columns" [viewData]="user_list"></app-data-table>
    <div class="flex align-items-center justify-content-end pagination_container">
        <span class="mx-1 text-color right_page_alignement">Items per page: </span>
        <div>    
            <button class="round-button" 
                [disabled] = "page === 0" 
                (click)= "removePage()"><<</button>
            <p-dropdown [options]="options" 
                [(ngModel)] = "size"
                (onChange)="changePaginator()"/>
            <button class="round-button"
                [disabled]="page >= max_page"
                (click)= "addPage()">>></button>
        </div>
</div>
</div>
